<%= render 'homes/home1' %>
<%= render 'courses/courses1' %>
<%=render 'about_us/about_us1'%>
<%=render 'workshops/workshop1'%>

<section id="contact" class="contact contact-with-map">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="section-heading">contacto</h3>
				</div>
				<div class="col-md-3">
					<div class="contact-data">
						<ul class="white-color">
							<li><span class="ti-mobile icon"></span>+ 591 4244285</li>
							<li><span class="ti-email icon"></span>mail@example.com</li>
							<li><span class="ti-skype icon"></span>@IGLA</li>
						</ul>
					</div>
				</div>
				<div class="col-md-8 col-md-push-1">
					<!-- CONTACT FORM -->
					<div class="contact-form">
						<form>
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Nombre" required>
							</div>

							<div class="form-group">
								<input type="text" class="form-control" id="contact-email" name="contact-email" placeholder="Email" required>
							</div>

							<div class="form-group">
								<input type="text" class="form-control" id="mobile" name="mobile" placeholder="Celular" required>
							</div>

							<div class="form-group">
								<input type="text" class="form-control" id="subject" name="subject" placeholder="Asunto" required>
							</div>

							<div class="form-group">
								<textarea class="form-control" id="message" placeholder="Mensaje" maxlength="140" rows="7"></textarea>
							</div>

							<button type="button" type="button" id="submit" name="submit" class="btn btn-primary btn-lg text-center float-right">Enviar Mensaje</button>
						</form>
					</div>
					<!-- / CONTACT FORM -->
				</div>
			</div>
		</div>
		<!-- GOOGLE MAP CONTAINER -->
		<div class="google-maps">
			<div id="map-canvas"></div>
		</div>
		<!-- / GOOGLE MAP CONTAINER -->
	</section>

<div class="section section-min">
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4 col-md-push-4 text-center"> <img class="footer-logo" src="assets/02.png" alt="footer-logo">
								<div class="social">
									<ul>
										<li><a href="https://www.facebook.com/escuelagastronomicainternacional/" target="_blank"><span class="ti-facebook"></span></a></li>
										<li><a href="https://twitter.com/" target="_blank"><span class="ti-twitter-alt"></span></a></li>
										<li><a href="http://linkedin.com/" target="_blank"><span class="ti-linkedin"></span></a></li>
										<li><a href="https://vimeo.com/" target="_blank"><span class="ti-vimeo-alt"></span></a></li>
										<li><a href="http://youtube.com/" target="_blank"><span class="ti-youtube"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<div class="row">
							<div class="col-md-4 col-md-offset-4 col-sm-12">
								<div class="footer-newsletter">
									<div class="center text-center">
										<a href="https://www.facebook.com/OrionDev/" target="_blank"><span>Orion Developers</h1></span><img src="assets/orion.png" height="25px" width= "auto">
										
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</footer>
	</div>