<section class="home section image-slider" id="home">
		<div class="home-slider text-center">
			
			<div class="swiper-wrapper">
				<% @homes.each do |home| %>
				<div class="swiper-slide" style="background: url(<%=home.avatar.url()%>);">
					
					<h2 class="home-slider-title-main black-color"><%= home.tittle %></h2>
					<div class="home-buttons text-center"> <a href="#courses" class="btn btn-lg  btn-primary">Cursos</a> </div>
					<a class="arrow bounce text-center" href="#courses"> <span class="ti-mouse"></span> <span class="ti-angle-double-down"></span> </a>
				</div>

				
				
				<%end%>
			</div>
			
			<div class="home-pagination"></div>
			<div class="home-slider-next right-arrow-negative"> <span class="ti-arrow-right"></span> </div>
			<div class="home-slider-prev left-arrow-negative"> <span class="ti-arrow-left"></span> </div>
		</div>
	</section>